.maindiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h3 {
    font-size: 16px;
    color: #FFFFFF;
}
.p{
    font-size: 13px;
    color: #7F9D9F;
}
.h{
    font-size: 48px;
    color: #26C2AE;
}
.tipdiv {
    padding-right: 80px;
}