.resetButton {
    width: 333px;
    height: 48px;
    border-radius: 5px;
    background-color: #0D686D;
    color: #00474B;
    font-size: 20px;
    border: none;
}
.resetButton:hover {
    background-color: #9FE8DF;
    cursor: pointer;
}
.resetButton:active {
    background-color: #26C2AE;
}